*{
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

/* Mise en forme de la bar de navigation  */
.nav-bar {
    width: 100%;
    height: 75px;
    margin-top: 0;
    padding-top: 0;
    display: block;
    font-size: 16px;
    background-color: #000;
}
.nav-bar ul {
    background-color: #000;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: c;
}

.nav-bar li{
    background-color: #000;
    padding: 10px;
    margin: 10px;
}

.nav-bar li :hover {
    background-color: #444;
   
    
}

.nav-bar li a{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    text-align: center;
}

#date , #heure{
    color: #fff;
    background-color: #000;
    
   
}

/*Mise en forme du nom de l'entreprise */

#nom-entreprise h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 75px;
    animation: moveRight 15s linear infinite; /* Animation de déplacement */
}

/* Animation de déplacement */
@keyframes moveRight {
    0% { transform: translateX(0); } /* Position initiale */
    100% { transform: translateX(100%); } /* Déplacement complet vers la droite */
}


/*Mise en page du body sur le fait quel contient un aside  et un main*/
#div-avec-aside{
    display: flex;
    justify-content: space-between;
    gap: 2px;
    flex-direction: row;
}




/*Mise à jour de l'aside*/


.aside{
    width: 20%;
    background-color: #000;
    color: #fff;
    padding:  0;
    margin: 0;
    align-self: stretch; 
}

.aside li{
    list-style: none;
    background-color: #000;
    color: #fff;
    padding-bottom: 25px;
    padding-top: 5px;
    text-align: center;
}

.aside li:hover, .aside li a:hover{
    color: #fff;
    background-color: #444;
}

.aside li a{
    text-decoration: none;
    font-size: 16px;
    background-color: #000;
    color: #fff;
   
}


/*Mise en page du main*/
.main{
    width: 75%;
    background-color: #f3f3f3;
    text-align: left;
    display: inline-block;
}

/*Mise en forme des table employé*/
#liste-employes-id .table-employe{
    width: 90%;
    text-align: center; 
    margin-bottom: 20px;
    background-color: #000;
    border-collapse: collapse;
    border: 1px solid black;
}

#liste-employes-id .table-employe tr td{
    text-align: left;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#liste-employes-id .table-employe tr :first-child{
    padding: 5px 0;
}



/* Code css pour la mise en formulaire du formulare */

#table-employe{
    display: inline-block;
    width: 70%;
    border: 2px solid;
    border-radius: 10px;

}

#table-employe tr{
    
    width: 100%;
    height: 40px;
    margin: 20px 0;
    text-align: left;
    
}
/*
#table-employe tr :last-child {
   

}*/
#table-employe tr td{
    margin: 50px 0;
    width: calc(100%/3);
    padding-left: 7px;
 
}

#table-employe tr :first-child input, 
#table-employe tr :first-child select,
#table-employe tr :last-child input, 
#table-employe tr :last-child select{
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

#table-employe tr :nth-child(2){
    margin-left: 100px;
}

#image-td {
    text-align: center;
    width: 100%;
    height: 100%;
}

#table-employe tr :first-child input{
    background-color: #000;
    color: #fff;
}

#table-employe tr :first-child input :nth-child(2){
    color: red;
    background-color: blue;
}

#formulaire span {
    color: red;
    font-size: 20px;

}



/* Mise en forme de la page service  */
.main-article .card-main{
    display: block;
    text-align: center;
    margin-bottom: 50px;

    
}

.main-article .card-main .formulaire
{
    display: inline-block;
    text-align: left;
    height: 500px;
}

.main-article .card-main .formulaire legend,
.main-article .card-main  h2
{
    text-decoration: underline;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;

}

.main-article .card-main .formulaire tr{
    width: 100%;

    
}

.main-article .card-main .formulaire tr td{
   
    width: calc(100%/2);
    height: 30px;

}

.main-article .card-main .formulaire tr td input,
.main-article .card-main .formulaire tr td select,
.main-article .card-main .formulaire tr td textarea
{
    width: 100%;
    border-radius: 5px;

}

.main-article .card-main .formulaire tr td input,
.main-article .card-main .formulaire tr td select
{
    height: 40px
}

.main-article .card-main .formulaire tr .formulaire-btn input{
    background-color: #000;
    color: #f5f5f5;
}

.main-article .card-main .formulaire tr .formulaire-btn input:hover{
    background-color: #555;
}


.main-article  .lien-ancre{
    text-align: left;
    margin: 30px;
    
}

.main-article .lien-ancre a{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    
}

.main-article .lien-ancre a:hover{
    color:#000;
    font-size: 25px;
    font-weight: 800;
}

.main-article .card-main .table-liste{
    width: 90%;
    border: 2px solid #000;
    border-radius: 5px;

}

.main-article .card-main .table-liste  tr td{
    padding: 10px;
    height: 40px;
    font-weight: 500;
}

.main-article .card-main .table-liste .table-header tr td{
    background-color: #000;
    color: #fff;
    font-weight: 800;

   
}


.main-article .card-main .table-liste .table-body tr:nth-child(2n) td
{
    background-color: #555;
    color: #fff;
   

}

.main-article .card-main .table-liste .table-body tr:nth-child(2n+1) td
{
    background-color: #f5f5f5;
    color: #000;
  
}

.main-article .card-main .table-liste  tr td:nth-child(3)

{
    width: 30%;
}

.main-article .card-main .table-liste  tr td:nth-child(1){
    width: 10%;
    text-align: center;
}

.main-article .card-main .table-liste  tr td:nth-child(4){
    width: 15%;
}

/*Mise en page de la page ressources*/
#categories-main, 
#consommables-main
{
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: start;
    gap: 5%;
}

#categories-main .card-main{
    display: inline-block;
    
}

#categories-main .card-main .formulaire{
    height: 270px;
  
}

#categories-main .card-main  h2{
    margin-top: 0;
}

#categories-main .card-main .table-liste{
    width: 100%;
}

#categories-main .card-main .table-liste tr td :nth-child(3){
    width: 60%;
    text-align: right;
}


.main-article .card-main .alerte{
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
}

/*
    Mise en page du formulaire de partage 
    des consommables
*/

.main-article-forme{
    text-align: center;
}

.main-article-forme .card-main{
    display: inline-block;
    width: 100%;
    padding: auto 10px;
}

.main-article-forme .card-main .formulaire{
   width: 90%;
    margin-bottom: 0;
}

.main-article-forme .card-main .formulaire .tabble-formulaire{
    border-collapse: collapse;
}
.main-article-forme .card-main .formulaire .formulaire-legend{
    font-size: 30px;
    font-weight: 800;
    display: none;
}
.main-article-forme .card-main .table-formulaire tr:nth-child(2n) td{
    background-color: #000;
    border-color: #000;
    opacity: .8;
    padding: 15px 0 15px 10;
    color: #fff;
}

.main-article-forme .card-main .table-formulaire tr:nth-child(2n+1) td{
    background-color: #fff;
    border-color: #fff;
    padding: 15px 0 15px 10;
    color: #000;
    
}

.main-article-forme .card-main .table-formulaire tr:nth-child(2) td{
    text-align: center;
    font-weight: 700;
    opacity: 1;
    padding: 15px 10px;
    background-color: #000;
    
}

.main-article-forme .card-main .table-formulaire tr:nth-child(1) td{
    font-weight: 700;

}

.main-article-forme .card-main .table-formulaire tr:nth-child(1) td select{
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 500;

}

.main-article-forme .card-main .table-formulaire tr td:nth-child(5) input{
    width: 80%;
    padding: 0;
    height: 30px;
    text-align: left;
}


.main-article-forme .card-main .table-formulaire tr td:nth-child(6) input{
    width: 50%;
    padding: 0;
    height: 30px;
   
    background-color: #000;
}




.main-article-forme .card-main .table-formulaire .card-categorie .nom-categorie {
    background-color: #00f;
    color: #fff;
    font-weight: 800;
   
}


.main-article-forme .card-main button{
    width: 90%;
    margin-top: 5px;
    height: 60px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 800;

}

.main-article-forme .card-main button:hover{
    opacity: .7;
}


  /* Style de la fenêtre modale */
.main .main-article-forme  .modal {
    display: none; /* Par défaut, cachez la fenêtre modale */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 40%;
    height: 50%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0);
  }

  .main .main-article-forme .modal  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .main .main-article-forme .modal  .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .main .main-article-forme .modal  .modal-content .close:hover,
  .main .main-article-forme .modal  .modal-content.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .main .main-article-forme .modal  .modal-content button{
    width: 100%;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 700;


  }

 